* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: rgba(205, 214, 219, 0.3);
  background-image: url(/img/logo.svg) center no-reapeat; */
  background: url(/img/logo_transparent.svg) top 15vw center/40vw no-repeat, linear-gradient(320deg, #f27121, #e94057, #8a2387);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/* Background animation */
body {
  animation: theme 21s linear infinite;
}
body:after, body:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, 0.05);
  animation: background 90s linear infinite;
}
body:after {
  left: 15vw;
}
body:before {
  right: 15vw;
  animation-delay: -30s;
  animation-direction: reverse;
}

@keyframes theme {
  0% {
    background: #74c390;
  }
  16% {
    background: #5dbdb6;
  }
  33% {
    background: #59d4e1;
  }
  50% {
    background: #51bce8;
  }
  66% {
    background: #fa5374;
  }
  83% {
    background: #e46653;
  }
  100% {
    background: #74c390;
  }
}
@keyframes background {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*  */
.carousel {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 300%;
  height: 100%;
  display: flex;
}
.slider__frame {
  display: flex;
  flex-shrink: 0;
  height: 100%;
  width: 33.3333333%;
}
.slider__buttons {
  padding: 0 1vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider__dots {
  margin: 2vw;
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.frame {
  width: 100%;
  height: auto;
  background: #4676d7;
  border-radius: 2vw;
  background: url(../img/1.jpg) center/cover no-repeat;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 1vw;
}

.dot {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.dot:hover {
  background: rgba(255, 255, 255, 0.5);
  transform: scale(1.2);
}
.dot_middle {
  cursor: default;
  background: rgba(255, 255, 255, 0.8);
}
.dot_middle:hover {
  background: rgba(255, 255, 255, 0.8);
  pointer-events: none;
}

@keyframes dots {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.btn {
  min-width: 1vw;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.75);
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 1px #cbd6ee;
}/*# sourceMappingURL=styles.css.map */